// Styles for Header
// -----------------------------------------------------------------------------

main {

    .container {
        width: auto;
    }
}

@media (min-width: $screen-desktop) {

    main {

        .container {
            width: auto !important;
        }
    }
}

@media (min-width: $screen-tablet) {

    main {

        .container {
            width: auto !important;
        }
    }
}
