// Styles for blocks.
// -----------------------------------------------------------------------------
html {
    background-color: #FFFFFF;
}

.page-wrapper {
    overflow: hidden;
    width: 1225px;
    margin: 0 auto;
    padding: 15px 0px 0px 33px;
    -webkit-box-shadow: 0px 0px 12px 200px rgba(232, 232, 232, 1);
    -moz-box-shadow: 0px 0px 12px 200px rgba(232, 232, 232, 1);
    box-shadow: 0px 0px 12px 200px rgba(232, 232, 232, 1);
}

.material-icons {
    vertical-align: middle;
    direction: ltr;
    /*display: inline-block;*/
    font-family: 'Material Icons';
    /*font-size: inherit !important;*/
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.panel-row{
    margin: 30px 0;
}
@media (max-width: $screen-lg-desktop - 1) {
    .page-wrapper {
        width: auto;
        padding: 0;
    }
    footer {
        width: auto;

        .container {
            width: auto;
        }
    }
}
