// Styles for Header
// -----------------------------------------------------------------------------

header {
    position: relative;
    height: 100px;
    display: block;
    .col-md-10 {
        padding-right: 0px;
    }
    img {
        width: 200px;
        height: 81px;
        position: relative;
    }
    .col-md-2 {
        padding-left: 0px;
    }
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (max-width: $screen-lg-desktop - 1) {
    header {
        .col-md-10 {
            padding-left: 30px;
        }
        .col-md-2 {
            padding-right: 40px;
        }
    }
}

@media (max-width: $screen-desktop - 1) {
    header {
        height: inherit;
    }
}
