// Styles for Menus and Navs
// -----------------------------------------------------------------------------
.nav {
    background-color: #FFFFFF;
}

.container-fluid {
    background-color: #FFFFFF;
}

.navbar {
    border: none;
    margin-bottom: 30px;
}

.block--livresblancs-main-menu {

    .navbar-toggler {
        display: none;
        float: right;
    }
}

.navbar-default {
    background-color: #fff;
}

.navbar-header {
    float: right;

    .navbar-nav {
        li {
            a {
                padding: 10px 0;
                background-color: #FFFFFF !important;
                font-size: 13px;
            }

        }

    }
    .block--langue {

        .navbar-nav {
            padding-right: 20px;
        }
        float: right;
        li:first-child {

            a::after {
                color: rgb(153, 153, 153) !important;
            }
            a:hover {
                transition: 0.3s;
                transition-timing-function: linear;
                color: rgb(0, 101, 179);
            }
        }
    }
    .block--account-authitificated, .block--account-anonymous {

        .navbar-nav {
            padding-right: 20px;
        }
        float: right;

        li:first-child {

            a::after {
                color: rgb(153, 153, 153) !important;
                content: '|';
                padding: 0 4px;
            }
            a:hover {
                transition: 0.3s;
                transition-timing-function: linear;
                color: rgb(0, 101, 179);
            }
        }

        li:last-child {

            a::after {
                padding-left: 10px;
                color: rgba(0, 101, 179, 1);
                @extend .material-icons;
                content: '\E853';
                font-size: 20px !important;
            }
            a:hover::after, a:hover {
                transition: 0.3s;
                transition-timing-function: linear;
                color: #88AC2E;

            }
        }
    }
    .block--livresblancs-account-menu {
        float: right;

        .navbar-nav {

            a {
                font-size: 13px;
                background-color: #FFFFFF !important;
                color: rgb(153, 153, 153) !important;
            }
        }
    }
    .block--livresblancs-main-menu {

        .navbar-nav {

            li {
                padding-right: 20px;
                padding-left: 9px;

                &:last-child {
                    padding-left: 0;
                }
                a {
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 700;
                    padding-bottom: 5px;
                    padding-top: 5px;
                    background-color: #FFFFFF !important;
                    color: rgb(153, 153, 153) !important;

                    &.is-active::after {
                        display: block !important;
                        content: " " !important;
                        margin-top: 3px !important;
                        height: 3px !important;
                        width: 100% !important;
                        background-color: #EEEEEE !important;
                    }
                    i {
                        font-size: 21px;
                    }
                }
                a:hover {
                    transition: 0.3s;
                    transition-timing-function: linear;
                    color: #000000 !important;
                }
            }
        }
    }
}

header {

    button {
        background-color: #A7A8AC;
        border-radius: 10px;
        display: none;
        outline: 0;
        position: relative;
        top: -5px;
        right: 25px;
        width: 40px;
        border: 0;
        height: 35px;
        cursor: pointer;

        .icon-bar {
            margin: 0 auto;
            left: 0;
            right: 0;
            display: block;
            height: 3px;
            width: 60%;
            background-color: #000000;
            position: absolute;
            top: 50%;
            opacity: 1;
            transition: all 0.3s linear;

            &:first-child {
                top: 7px;
            }
            &:nth-child(2) {
                margin-top: -2px;
            }
            &:last-child {
                top: auto;
                bottom: 7px;
            }
        }
        &.on {

            .icon-bar {
                top: 50%;
                bottom: auto;

                &:nth-child(2) {
                    opacity: 0;
                }
                &:first-child {
                    transform: translate3d(0, 0, 0) rotate(45deg);
                }
                &:last-child {
                    transform: translate3d(0, 0, 0) rotate(-45deg);
                }
            }
        }
    }
}

@media (max-width: $screen-lg-desktop - 1) {

    .navbar-header {

        .block--livresblancs-main-menu {

            .navbar-nav {

                li {

                    a {

                        font-size: 11px;

                        i {
                            font-size: 21px;
                        }
                    }
                }

                li:last-child {
                    padding: 0;
                }
            }
        }
    }
}

@media (max-width: $screen-desktop - 1) {

    header {

        .col-md-2 {
            display: inline-block;
        }
        .col-md-10 {
            display: inline-block;
            float: right;
            height: 80px;
        }
    }
    .block--livresblancs-main-menu {

        .navbar-toggler {
            display: block;
        }
        ul {
            position: absolute;
        }
        .navbar-nav {
            height: auto !important;
            text-align: center;
            left: 100%;
            opacity: 0;
            width: 100%;
            padding: 40px 0;
            transition: all 0.5s ease-in-out;

            li {
                width: 100%;
                font-size: 14px;
                line-height: 2em;
                text-transform: none;
                padding-top: 0 !important;
                padding-bottom: 0 !important;

                a {
                    font-size: 18px !important;
                    color: #000000 !important;
                    &:after {
                        width: 50px !important;
                        margin: 0 auto;
                    }
                }
            }

            &.actif {
                left: 0;
                opacity: 1;
            }
        }
    }
    .navbar-nav {
        margin: inherit;
    }
    .block--livresblancs-account-menu, .block--account-anonymous {

        .nav > li {
            display: inline-block;
        }
    }
}

@media (max-width: 507px) {
    header {
        text-align: center;

        .col-md-2 {
        }
        .col-md-10 {
            width: 100%;
            float: inherit;
            height: inherit;

            .navbar-toggler {
                float: left;
                left: 20px;
            }
            .navbar-header {
                float: inherit;
            }
        }
    }
}
